@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 668px;
  }

  /*header start*/

  .header-wrapper {
    padding-top: 40px;
  }

  .logo-header {
    width: 77px;
    height: 21.04px;
  }

  .nav-list {
    padding-left: -10px;
  }

  /*header end*/

  /*welcome start*/
  .welcome-img {
    order: 1;
  }

  .img-welcome {
    width: 280px;
    height: 254.15px;
    margin-top: 61px;
  }

  .title-welcome {
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .welcome-text {
    margin-top: 35px;
    order: 0;
  }

  .welcome-desc {
    margin-bottom: 34px;
  }

  .desc-welcome {
    font-size: 16px;
    line-height: 25px;
    padding-left: 5px;
  }

  .welcome-wrapper {
    grid-gap: 0 42px;
  }
  /*welcome end*/

  /*about start*/

  .about-wrapper {
    grid-template-columns: none;
  }

  .about-img {
    justify-self: center;
  }

  .img-about {
    width: 250px;
    height: 258px;
    margin-top: 28px;
    margin-bottom: 179px;
  }

  .button-welcome {
    padding: 10px 25px;
    margin-bottom: 71px;
  }

  .title-about {
    max-width: 423px;
    margin-top: 42px;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    margin-bottom: 0px;
  }

  .about-title {
    text-align: center;
  }

  .desc-about {
    margin-top: 52px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  /*about end*/

  /*service start*/

  .service-first-block {
    grid-template-columns: none;
  }

  .title-service {
    max-width: 306px;
    padding-top: 60px;
    font-size: 35px;
    line-height: 46px;
  }

  .service-buttons {
    padding-top: 40px;
  }

  .service-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 38px 106px;
    margin-top: 40px;
    padding-bottom: 70px;
  }

  .img-card {
    width: 280px;
    height: 350px;
  }

  .text-card {
    text-align: center;
  }

  .card-service {
    width: 281px;
    height: 450px;
  }

  .title-card {
    margin-bottom: 0px;
  }

  .desc-card {
    max-width: 201px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /*service end*/

  /*prices start*/

  .title-prices {
    font-size: 35px;
    line-height: 42px;
    padding-left: 14px;
  }

  .prices-plans {
    margin-top: 58px;
    padding-top: 15px;
    padding-bottom: 18px;
  }

  .title-second-prices {
    font-size: 25px;
    line-height: 35px;
    margin-top: 99px;
  }

  .img-prices {
    max-width: 152px;
    max-height: 174.98px;
    margin-top: 26px;
  }

  .prices-button {
    padding-top: 27px;
  }

  .button-prices {
    padding: 15px 33.96px 9px 30px;
  }

  .wrapper-prices {
    margin-bottom: 87px;
  }

  /*prices end*/

  /*contacts start*/

  .contacts {
    max-height: 739px;
  }

  .img-contacts {
    margin-top: 250px;
    margin-left: 20px;
    width: 200px;
    height: 248.49px;
  }

  .wrapper-contacts {
    grid-template-columns: none;
    justify-content: center;
  }

  .contacts-img {
    order: 3;
    display: flex;
    justify-content: center;
  }

  .title-contacts {
    margin-top: 40px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .select-contacts {
    margin: 0px;
    margin-top: 100px;
  }

  .select-contacts {
    padding-left: 15px;
  }

  /*contacts end*/

  /*footer start*/

  .footer-wrapper {
    display: grid;
    justify-content: center;
    margin-top: 33px;
    text-align: center;
  }

  .list-icons-footer {
    margin-top: 17px;
    padding-left: 28px;
  }

  /*footer end*/
}

/*380px max*/

@media only screen and (max-width: 380px) {
  .wrapper {
    max-width: 330px;
  }

  /*header start*/

  .header-wrapper {
    flex-wrap: nowrap;
    padding-top: 34px;
  }

  .logo-header {
    width: 77px;
    height: 21.04px;
  }

  .menu-icon {
    z-index: 5;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 24px;
    cursor: pointer;
    float: right;
  }

  .menu-icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }

  .menu-icon::before,
  .menu-icon::after,
  .first-stick,
  .second_stick {
    right: 0px;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #717171;
  }

  .menu-icon::after,
  .menu-icon::before {
    content: "";
  }

  .menu-icon::before {
    top: 0px;
  }
  .menu-icon::after {
    bottom: 0px;
  }

  .first-stick {
    top: 35%;
    transform: scale(1) translate(0px, -50%);
  }

  .second_stick {
    bottom: 25%;
    transform: scale(1) translate(0px, -50%);
  }

  .nav-list {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 160px;
    transform: translate(100%, 0px);
    display: inline-block;
    padding-left: 0px;
    transition: all 0.3s ease 0s;
    background-color: rgba(73, 154, 24, 0.8);
    overflow: auto;
    padding-top: 33px;
  }

  .nav-list._active {
    transform: translate(0%, 0px);
  }

  .nav-list-item {
    margin-right: 0px;
  }

  .link-nav-item {
    font-size: 21px;
    color: rgb(39, 39, 39);
  }

  .link-nav-item:hover {
    transition: 0.5s;
    font-weight: 700;
    font-size: 21px;
    line-height: 50px;
    color: #e06733;
  }

  /*header end*/

  /*welcome start*/
  .welcome-img {
    order: 1;
  }

  .img-welcome {
    display: none;
  }

  .title-welcome {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0px;
  }
  .welcome-text {
    margin-top: 5px;
    order: 0;
  }

  .welcome-desc {
    margin-bottom: 0px;
  }

  .desc-welcome {
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 0px;
  }

  .button-welcome {
    margin-top: 25.08px;
    font-size: 10px;
    line-height: 20px;
    padding: 5.029999999999999px 16px;
    margin-bottom: 24px;
  }

  .welcome-wrapper {
    grid-gap: 0 0px;
  }
  /*welcome end*/

  /*about start*/

  .about-wrapper {
    grid-template-columns: none;
  }

  .about-img {
    justify-self: center;
  }

  .img-about {
    width: 150px;
    height: 147px;
    margin-top: 0px;
    margin-bottom: 31px;
  }

  .title-about {
    margin-top: 30px;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    margin-bottom: 0px;
  }

  .about-title {
    text-align: center;
  }

  .desc-about {
    margin-top: 11px;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 25px;
  }

  /*about end*/

  /*service start*/

  .service-first-block {
    grid-template-columns: none;
  }

  .title-service {
    max-width: 187px;
    padding-top: 30px;
    font-size: 25px;
    line-height: 33px;
  }

  .service-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 35px 0px;
    margin-top: 40px;
    padding-bottom: 70px;
    justify-items: center;
    padding-bottom: 27px;
  }

  .img-card {
    width: 280px;
    height: 350px;
  }

  .text-card {
    text-align: center;
  }

  .card-service {
    width: 281px;
    height: 450px;
  }

  .title-card {
    margin-bottom: 0px;
  }

  .desc-card {
    max-width: 201px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .button-service {
    font-size: 15px;
    line-height: 20px;
    margin-right: 0px;
    padding: 8px 28px;
    width: 121px;
    height: 35px;
  }

  .service-buttons {
    display: grid;
    grid-template-columns: repeat(2, 121px);
    grid-gap: 9px 10px;
    padding-top: 39px;
  }
  /*service end*/

  /*prices start*/

  .title-prices {
    font-size: 25px;
    line-height: 30px;
    padding-left: 0px;
  }

  .prices-plans {
    margin-top: 40px;
    margin-right: 0px;
    display: inline-flex;
    width: 224px;
    height: 235px;
    padding-top: 19px;
    padding-bottom: 23px;
  }

  .details-prices {
    max-width: 180px;
    padding: 16px 0px 16px 30px;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }

  .title-second-prices {
    font-size: 20px;
    line-height: 35px;
    margin-top: 19px;
    text-align: center;
    max-width: 230px;
  }

  .prices-second-title {
    display: inline-flex;
    justify-content: center;
  }

  .img-prices {
    display: none;
    max-width: 152px;
    max-height: 174.98px;
    margin-top: 26px;
  }

  .prices-button {
    display: inline-flex;
    justify-self: center;
    padding-top: 18px;
    padding-bottom: 0px;
  }

  .button-prices {
    padding: 8px 22px 8px 22px;
    font-size: 15px;
    line-height: 20px;
  }

  .wrapper-prices {
    grid-template-columns: none;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 38px;
  }

  /*prices end*/

  /*contacts start*/

  .contacts {
    max-height: auto;
  }

  .img-contacts {
    margin-top: 132px;
    margin-left: 0px;
    width: 100px;
    height: 124.25px;
  }

  .wrapper-contacts {
    grid-template-columns: none;
    justify-content: center;
  }

  .contacts-img {
    order: 3;
    display: flex;
    justify-content: center;
  }

  .title-contacts {
    margin-top: 25px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: center;
    font-size: 25px;
    line-height: 33px;
  }

  .select-contacts {
    margin: 0px;
    margin-top: 80px;
    width: 300px;
    max-height: 50px;
  }

  button,
  select {
    padding-left: 15px;
  }

  /*contacts end*/

  /*footer start*/

  .footer-wrapper {
    display: grid;
    justify-content: center;
    margin-top: 33px;
    text-align: center;
  }

  .list-icons-footer {
    margin-top: 17px;
    padding-left: 28px;
  }

  /*footer end*/
}
