html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* fonts start */

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/* inika-regular - latin */
@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inika-v21-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inika-v21-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inika-v21-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inika-v21-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inika-v21-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inika-v21-latin-regular.svg#Inika")
      format("svg"); /* Legacy iOS */
}
/* inika-700 - latin */
@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inika-v21-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inika-v21-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inika-v21-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inika-v21-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inika-v21-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inika-v21-latin-700.svg#Inika")
      format("svg"); /* Legacy iOS */
}
/* fonts end */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #010201;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}

/* header start*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

.header-wraper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding: 50px 110px 0 110px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 44px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
  color: #010201;
  font-family: "Inika";
}

.orange {
  font-weight: 700;
  color: #e06733;
}

.header-link:active {
  font-weight: 700;
  color: #e06733;
}

.header-link:hover,
.header-link:focus {
  opacity: 0.75;
}

/*header end*/

/*welcome start*/
.welcome {
  height: 100vh;
  background-color: #edf2ec;
  background-size: cover;
  padding-top: 150px;
  margin-bottom: 82px;
  max-height: 666px;
}

.welcome-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 146px;
}

.welcome-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  max-width: 559px;
  max-height: 101px;
  color: #717171;
  margin-bottom: 42px;
}

.welcome-description {
  max-width: 535px;
  max-height: 105px;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin-bottom: 48px;
}

.button-text-welcome {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.learn-more-button {
  background-color: transparent;
  border: 2px solid #e06733;
  border-radius: 10px;
  padding: 12px 25px 12px 25px;
}

mark.green {
  color: #499a18;
  background: none;
}

.leafs-welcome {
  max-width: 448.8px;
  max-height: 407.36px;
}
/*welcome end*/

/*about us start */
.about-us {
  margin-bottom: 140px;
  max-height: 666px;
}

.about-us-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 153px;
  max-height: 479px;
}

.pic-about-us {
  max-width: 464px;
  max-height: 479px;
}

.about-us-text {
  margin-top: 82px;
  max-width: 605px;
  max-height: 350px;
}
.about-us-title {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 40px;
  color: #499a18;
  font-family: "Inika";
}

.about-us-description {
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  text-align: left;
  max-width: 605px;
}

mark.orange {
  color: #e06733;
  background: none;
  font-weight: 400;
}

.about-us-pic {
  text-align: right;
}
/*about us end */

/*Service and our projects start*/

.service {
  background: #edf2ec;
  height: 1300px;
}

.service-first-block {
  display: grid;
  grid-template-columns: repeat(1, 306px 560px);
  grid-gap: 0 140px;
  margin-bottom: 97px;
}

.service-title {
  font-family: "Inika";
  color: #499a18;
  font-size: 40px;
  line-height: 52px;
  max-width: 306px;
  margin-top: 35px;
}

.service-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.button-service-standard {
  height: 50px;
  width: 161px;
  color: #e06733;
  background: transparent;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Inika";
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px 116px;
  margin-bottom: 157px;
}

.service-card-pic {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
}

.card-title {
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
}

.card-desc {
  padding-top: 10px;
  padding-bottom: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  text-align: center;
}

.card-text {
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
}
/*Service and our projects end*/

/*price and our projects start*/

.price-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 438px;
  margin-top: 38px;
}

.price {
  height: 568px;
}

.price-plane-title {
  margin-top: 5px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 60px;
}

.price-list {
  width: 332px;
  height: 310px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.accordion {
  width: 250px;
  height: 214px;
  display: flex;
  flex-direction: column;
}

.accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  background: #edf2ec;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

label::after {
  content: "▼";
  margin-left: 100px;
  font-size: 12px;
}

input[type="radio"] {
  display: none;
}

.accordion .content {
  color: #717171;
  padding: 0 10px;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s, background-color 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.price-contact-pic {
  width: 283.96px;
  height: 318.41px;
  float: right;
}

.text-contact-button {
  font-family: "Inika";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
}

.contact-button {
  padding: 12px 30px;
  text-align: center;
  background: transparent;
  border: 1px solid #e06733;
  border-radius: 5px;
  margin: 0 0 7px 0;
  float: right;
}

.title-contact-us {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  width: 452px;
  text-align: right;
  margin-bottom: 31px;
}

.price-contact-us {
  display: grid;
}
/*price and our projects end*/

/*contact us start*/

.contact-us {
  height: 542px;
  background-color: #edf2ec;
}

.contact-us-wrapper {
  display: flex;
}

.contact-us-img {
  width: 400px;
  height: 496.99px;
  margin-top: 45px;
}

.contact-us-title {
  margin-top: 60px;
  margin-left: 113px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.select-city-contact {
  text-align: right;
}

.city-select-contact {
  height: 50px;
  width: 450px;
  margin-top: 148px;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.select-city-contact {
  flex-grow: 1;
}
/*contact us end*/

/*footer start*/

.footer {
  height: 132px;
}

.footer-github {
  font-size: 20px;
  line-height: 50px;
  word-spacing: 20px;
}

.footer-content {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.footer-school {
  font-size: 20px;
  line-height: 50px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  margin-right: 20px;
}

.footer-item:last-child {
  margin-right: 0;
}

.header-link {
  width: 32px;
  height: 32px;
}
/*footer end*/
