/* fonts start*/

/* inika-regular - latin */
@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inika-v21-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inika-v21-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inika-v21-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inika-v21-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inika-v21-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inika-v21-latin-regular.svg#Inika")
      format("svg"); /* Legacy iOS */
}
/* inika-700 - latin */
@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inika-v21-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inika-v21-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inika-v21-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inika-v21-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inika-v21-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inika-v21-latin-700.svg#Inika")
      format("svg"); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/*fonts end*/

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #e06733;
  color: white;
  transition: 0.5s;
}

.link-nav-item:hover {
  transition: 0.5s;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  color: #e06733;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}

/*header start*/

._lock {
  overflow: hidden;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  background: #edf2ec;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  height: 100px;
}

.logo-header {
  width: 79.17px;
  height: 20.04px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.nav-list-item {
  margin-right: 44px;
  list-style-type: none;
}

.nav-list-item:last-child {
  margin-right: 0px;
}

.link-nav-item {
  text-decoration: none;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
}

.menu-icon {
  display: none;
}

/*header end*/

/* welcome start*/

.welcome {
  background: #edf2ec;
}

.img-welcome {
  width: 448.8px;
  height: 407.36px;
  margin-top: 50px;
}

.welcome-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 0 214px;
  max-height: 566px;
}

.welcome-text {
  margin-top: 100px;
}

.title-welcome {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.welcome-desc {
  margin-bottom: 48px;
  max-width: 534.89px;
}

.desc-welcome {
  color: #636060;
}

.button-welcome {
  border: 2px solid #e06733;
  border-radius: 10px;
  padding: 12px 25px;
  background: transparent;
  margin-bottom: 126px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.text-button-welcome:hover {
  color: white;
}

.green {
  color: #499a18;
  background: none;
}

/*welcome end*/

/*about start*/

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 0 153px;
}

.img-about {
  margin-top: 82px;
  width: 464px;
  height: 479px;
}

.title-about {
  margin-top: 150px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  max-width: 463px;
}

.desc-about {
  margin-top: 40px;
  line-height: 30px;
  color: #636060;
  margin-bottom: 166px;
}

.orange-color {
  color: #e06733;
  background: none;
}
/*about end*/

/*service start*/

.service {
  background: #edf2ec;
}

.service-first-block {
  display: grid;
  grid-template-columns: repeat(1, 306px auto);
  grid-gap: 0 140px;
}

.service-buttons {
  padding-top: 64px;
}

.button-service {
  margin-right: 32px;
  width: 161px;
  height: 50px;
  border: 1px solid #e06733;
  border-radius: 5px;
  background: transparent;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
}

.button-service:last-child {
  margin-right: 0px;
}

.title-service {
  margin: 0;
  padding-top: 35px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}

.service-cards {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px 116px;
  padding-bottom: 119px;
}

.card-service {
  width: 330px;
  height: 450px;
}

.img-card {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-img {
  width: 329px;
  height: 350px;
}

.title-card {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc-card {
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  text-align: center;
}

.text-card {
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
}

/*service end*/

/*prices start*/

.wrapper-prices {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title-prices {
  margin: 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.prices-plans {
  padding-top: 16px;
  padding-bottom: 15px;
  width: 332px;
  height: 282px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.title-second-prices {
  max-width: 452px;
  display: inline-block;
  float: right;
  text-align: right;
  margin: 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}

.prices-right {
  display: grid;
}

.prices-button {
  padding-top: 31px;
  justify-self: right;
  padding-bottom: 7px;
}

.prices-img {
  display: flex;
  justify-content: right;
}

.img-prices {
  width: 283.96px;
  height: 318.41px;
}

.button-prices {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  background: transparent;
  padding: 12px 30px;
}

.prices-plans {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.details-prices {
  background: #edf2ec;
  border-radius: 20px;
  max-width: 250px;
  padding: 8px 0px 8px 40px;
}

.summary-prices {
  list-style: none;
  min-width: 250px;
  justify-content: center;
}

.summary-prices::after {
  content: url(./img/svg/accordion_btn.svg);
  padding-right: 80px;
  float: right;
}

.summary-prices {
  justify-self: center;
}

/*prices end*/

/*contacts start*/

.contacts {
  max-height: 542px;
  background: #edf2ec;
}

.wrapper-contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img-contacts {
  margin-top: 45px;
  width: 400px;
  height: 496.99px;
}

.title-contacts {
  padding-left: 113px;
  margin-top: 60px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}

.select-contacts {
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  width: 450px;
  height: 50px;
  margin-top: 153px;
  border: none;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.select-contacts::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/accordion_btn.svg");
  background-size: cover;
  pointer-events: none;
}
/*contacts end*/

/*footer start*/

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}

.list-icons-footer {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.item-list-footer {
  margin-right: 28px;
}

.item-list-footer:last-child {
  padding-right: 0px;
}

.left-title-footer {
  margin: 0px;
  font-size: 20px;
  line-height: 50px;
  word-spacing: 20px;
}

.center-title-footer {
  margin: 0px;
}

.link-item-footer {
  text-decoration: none;
  color: #000000;
}
/*footer end*/
